<h2 mat-dialog-title id="name-tag">{{ member()?.name }}</h2>
<mat-dialog-content class="mat-typography">
  <div style="display: flex; justify-content: center; margin-top: 5px; margin-bottom: 10px">
    <app-image-loader [imageLink]="member()?.image!" [size]="200"></app-image-loader>
  </div>

  <div style="display: flex; justify-content: center" class="font-bold">
    @if (member()?.is_retired) {
      <span class="status-tag">Retired</span>
    } @else {
      <span class="status-tag">Active Member</span>
    }
  </div>

  <p class="title">About me</p>
  <p>{{ member()?.bio }}</p>

  <p class="title">Projects</p>
  <div style="display: flex; flex-direction: column">
    @for(p of projectsJoined; track $index){
      <app-project [projectData]="p" mat-dialog-close></app-project>
    }
  </div>

  <p class="title">Time Joined</p>
  <b>{{ dateJoined() }}</b>

  <p class="title">Discipline</p>
  <b>{{ member()?.discipline }}</b>


  <div style="height: 10px"></div>

</mat-dialog-content>
<mat-dialog-actions align="end" style="gap: 10px">
  @if (member()?.linkedin) {
    <a href="{{member()?.linkedin}}" target="_blank">
      <img src="linkedin.png" alt="LinkedIn" style="width: 45px; height: 40px; display: block">
    </a>
  }

  @if (member()?.github) {
    <a href="{{member()?.github}}" target="_blank">
      <img src="github.png" alt="GitHub" style="width: 40px; height: 40px; display: block">
    </a>
  }


  @if (member()?.weblink) {
    <a href="{{member()?.weblink}}" target="_blank">
      <button mat-icon-button><mat-icon>link</mat-icon></button>
    </a>
  }

  <div style="flex: 1"></div>
  @if(main.isAdmin()){
    <button mat-raised-button mat-dialog-close color="primary" (click)="editMember()">Edit</button>
  } @else {
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  }
</mat-dialog-actions>
