<mat-card (click)="openDialog()">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ memberData().name }}</mat-card-title>
      <mat-card-subtitle>
        @if (subteamRole()) {
          {{ subteamRole() }}
        } @else if (role()) {
          {{ role() }}
        }
      </mat-card-subtitle>
      <div style="display: flex">
        <div style="flex: 1; min-width: 10px"></div>
        <app-image-loader [imageLink]="memberData().image!" [size]="60"></app-image-loader>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div id="discipline">
      {{ memberData().discipline }}
    </div>

  </mat-card-content>
</mat-card>
