@import '../../var';

main {
  margin: 10px;
  padding-bottom: 10px;
}


#filters-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 10px;

  * {
    margin-bottom: -20px;
  }
}

#captain-section {
  display: flex;
  padding-bottom: 15px;

  #cap-container {
    mat-card-title {
      color: $primary;
    }

    background-color: $fg-color;
  }
}

.subteam {

}

.subteams-section {
  margin-left: 20px;
  margin-bottom: 20px;
}

.subteam-header {
  display: flex;
  align-items: center;
  vertical-align: middle;

  margin-top: 10px;
  font-size: large;
  padding: 15px;
  border-radius: 10px;
  background-color: $fg-color;
}

.members-section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
